@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');
h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.Display{
 width: 500px;
 height: 390px;
 text-align: right;
 margin: auto;
}
.OperationHistorial{
  font-size: 90px;
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: auto;
  margin-right: 20px;
  padding-top: 20px;
  color: #AC9C9C;
}
.ResultHistorial{
  font-size: 90px;
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: auto;
  margin-right: 20px;
  color: #AC9C9C;
}
.MainDisplay{
  font-size: 90px;
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: auto;
  margin-right: 20px;
}
.Result{
  font-size: 90px;
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: auto;
  margin-right: 20px;
}
